<div class="container-fluid mt-5 mx-5 mb-5 mentor ">
<div class="mb-5 mx-auto my-10 mt-10">
        <div class="row">
            <div class="col-6  my-10">
    <div class="card-deck ml-3 mr-3 mt-5 mx-auto my-auto col-6  my-10 mt-7">
          
            <img class="card-img-top" src="https://images.unsplash.com/1/irish-hands.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="Card image cap">
            <div class="card-body">
                <div class="row">
              <p class="card-text"><b>On progress training</b></p>
              <br>
              <br>
            </div>
            <div class="row ml-auto">
                   
                     <h5> Trainee request and Onprocess training. </h5>
                   

                    <button type="button" [routerLink]="['/mentorInprogress']" class="btn btn-primary btn-lg btn-block text-light" >Click Here</button>
            </div>
            </div>
          </div>
        </div>
        <div class="col-6  my-10">
          <div class="card-deck ml-3 mr-3 mt-5 mx-auto my-auto col-6 mt-7  my-10">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1529400971008-f566de0e6dfc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="Card image cap">
                <div class="card-body">
                    <div class="row">
                  <p class="card-text"><b>Completed Training</b></p>
                  <br>
              <br>
                </div>
                <div class="row ml-auto">
                       
                       <h5>     
                            All Completed training.
                        </h5>
                       
                        <button type="button" [routerLink]="['/mentortrainingCompleted']" class="btn btn-primary btn-lg btn-block text-light" >Click Here</button>
                </div>
                </div>
              </div>
            </div>
            </div>
              </div>
            </div>
    